doctype html
html
    head
        title Admin panel
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/lib/jquery-2.0.3.min.js')
        script(src='/javascripts/global.js')